on boot
    setprop ro.radio.use-ppp no
    setprop ro.build.product smdk6410
    setprop ro.product.device smdk6410
    setprop ro.setupwizard.mode DISABLED



service smdk6410-setup /system/etc/init.smdk6410.sh
        oneshot
